##based on Mesosphere Marathon's servicerouter.py haproxy config

global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   120s
  timeout client    125s
  timeout server    125s

#Админка http://localhost:8404/stats
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

frontend rabbitmq_manager
  mode http
  bind :15672
  default_backend rabbitmq_15672

backend rabbitmq_15672
  mode http
  balance roundrobin
  server s1 rabbitmq-1:15672 check
  server s2 rabbitmq-2:15672 check
